<div class="row">
  <aside class="col-md-4">
    <p><%= @user.email %></p>
  </aside>

  <div class="col-md-8">
    <% if @user.headaches.any? %>
      <h3>Recorded Headaches (<%= @user.headaches.count %>)</h3>
      <ul class="list-group">
        <%= render @headaches %>
      </ul>
      <%= will_paginate @headaches %>
    <% end %>
  </div>
</div>