<% if object.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% object.errors.each do |attribute, error| %>
        <% if object.errors.include?(attribute)  %>
          <% if object.errors.full_message(attribute, error) == 
                object.errors.full_messages_for(attribute).first %>
            <li><%= object.errors.full_message(attribute, error) %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>